<mat-drawer-container class="example-container" autosize>

  <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
    <ul>
      <li>
        <a href="">Inicio</a>
      </li>
      <li>
        <a href="">Wiki</a>
      </li>
      <li>
        <a href="">Imprimir</a>
      </li> 
      <li>
        <a href="">Salir</a>
      </li>                 
    </ul>
  </mat-drawer>



  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestor de Curso</span>
    </mat-toolbar>


    <main class="p-6">
      <app-users></app-users>
    </main>
    <main class="p-6">
      <app-alumnos></app-alumnos>
    </main>    
    <main class="p-6">
      <app-alumnos></app-alumnos>
    </main>              
  </div>
</mat-drawer-container>

